* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

p {
    color: #777777;
    line-height: 1.5;
}

section {
    margin-bottom: 100px;
}

/* Hero Section Start */
.hero-banner {
    background-image: url(../images/donation13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 50%;
    text-align: center;
}

.hero-content h1 {
    font-size: 50px;
    color: white;
}

.hero-content p {
    margin: 20px 0;
    padding: 0 50px;
    color: white;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #f74444;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-cta {
    margin-top: 10px;
    display: inline-block;
}

/* Hero Section End */
/* Donate Item Section Start */
.container {
    width: 80%;
    margin: 0 auto;
}

.section-heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.section-heading p {
    margin: 10px 0;
    line-height: 25px;
}

.donate-amount {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.amount {
    width: 15%;
    padding: 30px 0;
    text-align: center;
    background-color: #fbf6f6;
    color: #828282;
}

.active {
    border: 2px solid #f74444;
    color: #f74444;
    background-color: #ffeeee;
    border-radius: 5px;
}

.custom-amount {
    width: 60%;
    margin: 0 auto;
}

.custom-amount input {
    margin: 0 4%;
    width: 92%;
    height: 30px;
    text-align: center;
    color: #272727;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

.donate-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Donate Item Section End */
/* Donate Plan Section Start */
.plan-item {
    display: flex;
    justify-content: space-evenly;
}

.single-item {
    width: 27%;
    padding: 50px 20px;
    border-radius: 5px;
}

.single-item:nth-child(1) {
    background: #f2fbff;
}

.single-item:nth-child(2) {
    background: #fff2f2;
}

.single-item:nth-child(3) {
    background: #ffffcd;
}

.single-item h3 {
    margin: 20px 0;
}

/* Donate Plan Section End */
/* Blog Section Start */
.blogs {
    display: flex;
    justify-content: space-evenly;
}

.single-blog {
    width: 27%;
    padding: 50px 30px;
    background-color: white;
    border-radius: 5px;
    min-height: 350px;
    box-shadow: 0px 3px 7px 0px rgba(28, 31, 33, 0.15);
}

.single-blog:nth-child(1) {
    background-color: #f74444;
}

.single-blog p:nth-child(2) {
    font-size: 14px;
    color: #314584;
}

.single-blog p:nth-child(3) {
    margin-top: 30px;
    font-size: 18px;
}

.single-blog a {
    color: black !important;
}

/* Blog Section End */
/* Newsletter Section Start */
.subscribe {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9cece;
    padding: 70px 0;
    border-radius: 2px;
}

.subscribe-form {
    height: 45px;
    display: flex;
}

.email-input,
.submit-button {
    border: none;
    outline: none;
}

.email-input {
    width: 250px;
    background: #ecebeb;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0 5px;
}

.submit-button {
    padding: 0 50px;
    background-color: #f74444;
    color: white;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Newsletter Section End */

/* Footer Start */
footer {
    padding: 50px 0;
    width: 100%;
    background: black;
    text-align: center;
    color: white;
}

footer h2 {
    margin-bottom: 20px;
    color: #f74444;
    font-style: italic;
}

footer p {
    font-size: 14px;
}

/* Footer End */